.am-navbar-light{
  background:#00bfae;
  color: #fff;
}
.am-navbar-left,.am-navbar-right{
  flex:none;
}
.am-search{
  width: 100%;
  background-color: transparent;
}
.am-search-cancel{
  color:#fff;
}

/* Gird */
.am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon{
  width:57%!important;
}

/* Flex */
.am-flexbox.am-flexbox-align-center{
  background: #fff;
}

.active-title{
  color:rgb(68,145,48);
  font-size:16px;
  font-weight:bold;
  text-align:center;
}
.active-img{
  width:1.5rem;
}
